:root {
  --primaryTextColor: #49454F;
  --secondTextColor: #3F3F3F;
  --titleTextColor: #1C1B1F;
  --accentColor: #7B61FF;
  --hoverColor: #6243FF;
  --disableColor: #ACA7C3;
  --backgroundColor: #FFFFFF;
}
